@charset "UTF-8";

@font-face {
    font-family: 'RotisExtraBold';
    src: url('../fontes/Rotis\ SemiSans\ W04\ ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'RotisRegular';
    src: url('../fontes/Rotis\ SemiSans\ W04\ Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #A6A6A6;
    --cor2: #737373;
    --cor3: #404040;
    --cor4: #262626;
    --cor5: #0D0D0D;
}

h1 {
    margin:0px auto 15px;
    font-family: 'RotisExtraBold';
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid black;
    width: 66vw;
    font-size: 2.3em;
}

h1 > span {
    color: #A6A6A6;
}

section {
    margin: auto;
    width: 66vw;
    column-count: 3;
    column-gap: 15px;
}
ul{
    list-style: none;
}

.min {
    width: 21.3vw;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 2px 8px 0px rgb(80 80 80 / 57%);
}

.lbox {
    visibility: hidden;
    opacity: 0;
}

.lbox:target {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.856);

    position: fixed;
}